@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-outfit), 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-body: var(--font-outfit), 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';


  --font-doto: var(--font-doto), ui-sans-serif, sans-serif;
  --font-outfit: var(--font-outfit), ui-sans-serif, sans-serif;

  --color-primary: #9C27B0;
  --color-secondary: #A5D6A7;
  --color-accent: #FFC0CB;
  --color-accent-secondary: #FF5555;
  --color-background: #F7E5E5;
  --color-surface: #FFFFFF;
  --color-text-primary: #1A1A1A;
  --color-text-muted: #757575;
  --color-text-secondary: #62748e;
  --color-error: #F44336;
  --color-success: #4CAF50;
  --color-warning: #FF9800;
}
